include:
  - proxy.yaml
services:
  db:
    image: mysql:latest
    restart: always
    healthcheck:
      test: "echo 'show databases' | mysql -hlocalhost -u${MYSQL_USER} -p${MYSQL_PASSWORD} |grep ${MYSQL_DATABASE}"
      timeout: 5s
      retries: 3
    networks:
      - backend
    environment: 
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
#    volumes:
#      - data:/var/lib/mysql
  web:
    build:
      context: .
      dockerfile: Docckerfile.python
    image: cr.yandex/crpqmq2ssc6b6lcodvpp/docker-2:latest
    restart: always
    entrypoint: ["./wait.sh"]
    command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "5000"] 
    depends_on:
      db:
        condition: service_healthy
    networks:
      backend:
        ipv4_address: 172.20.0.5
    ports:
      -  5000:5000
    environment:
      - DB_HOST=db
      - DB_USER=${MYSQL_USER}
      - DB_PASSWORD=${MYSQL_PASSWORD}
      - DB_NAME=${MYSQL_DATABASE}
      - DB_TABLE=webrequests
